// potential colours
$lightGrey: #f1f0f0;
$darkGrey: #2f323a;
$peach: #e8b9a9;
$green: #839d9a;

// fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

nav ul {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 75px 0 50px;
}

nav .nav-break {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    margin-right: 50px;

    & a {
        margin-right: 20px;
        padding: 5px 10px;
    }

    & a:hover {
        color: white;
        background-color: black;
    }

    @media only screen and (min-width: 0px) and (max-width: 800px) {
        display: none;
    }
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 8px;
}

.logo a {
    font-size: 42px;
    font-family: "Abril Fatface", cursive;
    color: black;
}

.logo a:hover {
    color: rgba(200, 200, 200, 0.7);
    transition: ease-in-out 0.3s;
}
