// colours
$lightGrey: #f1f0f0;
$blueGrey: #5d626e;
$peach: #e8b9a9;
$green: #839d9a;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
