// colours
$logo: rgb(149, 149, 149);
$black: #222;
$white: #fff;
$link: #80868a;
$linkHover: #f8c7b7;
$navbar: #2b302b;
$borders: #000;
$lightGrey: #e9e5e5;
$darkGrey: #555;
$pinkyGrey: #ddb4b3;
$firstBg: #c0cbdb;
$secondBg: #2b302b;
$thirdBg: #ffffff;
$fourthBg: #8ddcf2;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
